* {
  font-family: sans-serif; }

.btn-green {
  background: #20d472;
  color: #fff; }

.bg-light-gray {
  background: #edeff3; }

.container {
  padding: 20px 50px; }
  .container .col-8 {
    padding-right: 25px; }
  .container .col-4 {
    position: sticky;
    top: 0;
    padding-left: 25px;
    display: flex;
    flex-direction: column; }

.main .title {
  margin: 0;
  margin-bottom: 20px; }
.main .btn-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px; }
  .main .btn-group.height-rounded-circle {
    height: 50px;
    border-radius: 50px !important; }
  .main .btn-group .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc((100% / 6) - 20px);
    background: transparent;
    transition: 0.5s all ease-in-out; }
    .main .btn-group .menu-btn.height-rounded-circle {
      height: 30px;
      border-radius: 30px !important; }
.main .product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .main .product .card {
    transition: 0.5s all ease-in-out;
    width: calc((100% / 2) - 2.5%);
    margin-bottom: 25px; }
    .main .product .card:hover {
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; }
    .main .product .card .card-body {
      padding-top: 5px !important; }
      .main .product .card .card-body > * {
        margin: 0 !important; }
      .main .product .card .card-body .card-title {
        display: block;
        font-size: 18px;
        font-weight: bolder; }
      .main .product .card .card-body .card-subtitle {
        display: block;
        color: var(--bs-secondary);
        font-size: 13px;
        margin-bottom: 10px !important; }
      .main .product .card .card-body .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap !important; }
        .main .product .card .card-body .row .card-text {
          display: inline-block;
          font-size: 15px; }
        .main .product .card .card-body .row .card-link.first-add {
          margin: 0;
          padding: 2.5px 0; }
        .main .product .card .card-body .row .card-link.secondary-add {
          width: 100px !important;
          height: 30px !important;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: row;
          width: auto;
          border: solid 1px var(--bs-secondary);
          background: #fff;
          padding: 0 5px; }
          .main .product .card .card-body .row .card-link.secondary-add, .main .product .card .card-body .row .card-link.secondary-add > * {
            margin: 0;
            padding: 0; }
          .main .product .card .card-body .row .card-link.secondary-add .value {
            font-weight: bold;
            width: calc((100% / 12) * 6);
            border: none;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center; }
          .main .product .card .card-body .row .card-link.secondary-add .plus,
          .main .product .card .card-body .row .card-link.secondary-add .minus {
            font-size: 22.5px; }

.half-main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px; }
  .half-main .header .trash {
    width: 40px;
    height: 40px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; }
    .half-main .header .trash .trash-icon {
      width: 100%; }
.half-main .customer-product {
  padding: 10px;
  margin-bottom: 20px;
  padding: 10px; }
  .half-main .customer-product .each-price {
    margin-bottom: 100px;
    font-weight: bolder; }
    .half-main .customer-product .each-price .deliver .product-name {
      text-align: left; }
    .half-main .customer-product .each-price .deliver .product-number {
      text-align: right; }
  .half-main .customer-product .overall-price {
    padding: 5px 10px; }
    .half-main .customer-product .overall-price > * {
      margin: 0 !important;
      padding: 0 !important; }
    .half-main .customer-product .overall-price .overall-price-title {
      font-size: 12px;
      color: var(--bs-secondary); }
    .half-main .customer-product .overall-price .overall-price-soum {
      font-size: 20px;
      color: var(--bs-secondary); }
      .half-main .customer-product .overall-price .overall-price-soum b {
        font-size: 30px;
        color: #000; }
.half-main .customer-name,
.half-main .customer-phone,
.half-main .customer-location {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .half-main .customer-name .label,
  .half-main .customer-phone .label,
  .half-main .customer-location .label {
    font-size: 12px;
    color: var(--bs-secondary);
    margin-bottom: 5px; }
  .half-main .customer-name .input,
  .half-main .customer-phone .input,
  .half-main .customer-location .input {
    padding: 10px;
    font-size: 14px;
    color: var(--bs-dark-gray); }
.half-main .customer-location .input {
  margin-bottom: 10px; }

.hide {
  display: none !important;
  width: 0 !important;
  height: 0 !important; }

#map {
  height: 200px;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
