* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  flex-direction: column;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100vh;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee; }
  body .location-logo,
  body .date-icon {
    width: 13px;
    height: 13px; }

.wrapper {
  width: 700px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: transparent;
  padding: 25px; }
  .wrapper .wrapper-50 {
    width: 50%;
    display: flex;
    padding: 10px 10px; }
    .wrapper .wrapper-50 .card {
      width: 100%;
      display: flex;
      margin-bottom: 15px; }
      .wrapper .wrapper-50 .card .card-2,
      .wrapper .wrapper-50 .card .card-1 {
        border: none;
        border-radius: 5px;
        overflow: hidden; }
      .wrapper .wrapper-50 .card .title {
        font-size: 21px;
        height: 125px; }
      .wrapper .wrapper-50 .card .card-1,
      .wrapper .wrapper-50 .card .card-2 {
        display: flex;
        justify-content: center;
        align-items: center; }
        .wrapper .wrapper-50 .card .card-1 > *,
        .wrapper .wrapper-50 .card .card-2 > * {
          background: #fff; }
        .wrapper .wrapper-50 .card .card-1 > * > *,
        .wrapper .wrapper-50 .card .card-2 > * > * {
          display: flex;
          padding: 0 10px; }
        .wrapper .wrapper-50 .card .card-1 .box2,
        .wrapper .wrapper-50 .card .card-2 .box2 {
          background: #fff;
          width: 100%;
          padding: 0 10px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: row; }
          .wrapper .wrapper-50 .card .card-1 .box2 .link,
          .wrapper .wrapper-50 .card .card-2 .box2 .link {
            text-decoration: none;
            color: #04988a;
            margin: 10px;
            margin-left: 0;
            font-size: 13px;
            font-weight: 600; }
      .wrapper .wrapper-50 .card .card-1 {
        width: 50%; }
      .wrapper .wrapper-50 .card .card-2 {
        width: 100%; }
    .wrapper .wrapper-50 .btns {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center; }
      .wrapper .wrapper-50 .btns .btn {
        margin-left: 20px;
        width: 20px;
        height: 20px; }
  .wrapper .wrapper1 .card1 .title {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: #009688;
    color: #fff;
    font-weight: light;
    margin-bottom: 10px;
    padding: 10px; }
  .wrapper .wrapper1 .card1 .text {
    display: flex;
    font-size: 13px;
    margin-bottom: 20px; }
  .wrapper .wrapper1 .card1 .box1 {
    display: flex;
    width: 100%;
    margin-bottom: 2px; }
  .wrapper .wrapper1 .card2 .card-2 {
    width: 100%;
    display: flex;
    flex-direction: row; }
    .wrapper .wrapper1 .card2 .card-2 .cover {
      display: flex;
      width: 25%;
      height: 100%;
      background: #bbbbbb; }
    .wrapper .wrapper1 .card2 .card-2 .main {
      width: 75%;
      background: transparent; }
      .wrapper .wrapper1 .card2 .card-2 .main .title {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
        height: auto; }
      .wrapper .wrapper1 .card2 .card-2 .main .auth {
        font-size: 14px;
        color: #00000080;
        margin-bottom: 15px; }
      .wrapper .wrapper1 .card2 .card-2 .main .box1 {
        display: flex;
        margin-bottom: 2px;
        background: #fff;
        padding: 15px; }
  .wrapper .wrapper1 .card3 .box1 {
    display: flex;
    width: 100%;
    padding: 10px;
    margin-bottom: 2px;
    background: #fff; }
    .wrapper .wrapper1 .card3 .box1 .title {
      display: flex;
      color: #04988a;
      font-size: 20px;
      margin-bottom: 15px;
      height: auto; }
    .wrapper .wrapper1 .card3 .box1 .text {
      display: flex;
      margin-bottom: 30px; }
  .wrapper .wrapper2 .card1 .title {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: #00bbd3;
    color: #fff;
    font-weight: light;
    padding: 10px; }
  .wrapper .wrapper2 .card1 .box1 {
    display: flex;
    width: 100%;
    padding: 10px; }
  .wrapper .wrapper2 .card2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    .wrapper .wrapper2 .card2 .main1 {
      margin-right: 5px; }
    .wrapper .wrapper2 .card2 .title {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      width: 100%;
      background: #3e50b4;
      color: #fff;
      font-weight: light;
      padding: 10px; }
    .wrapper .wrapper2 .card2 .box1 {
      display: flex;
      width: 100%;
      padding: 10px; }
      .wrapper .wrapper2 .card2 .box1 .btns {
        justify-content: space-between; }
        .wrapper .wrapper2 .card2 .box1 .btns .btn {
          margin: 0; }
    .wrapper .wrapper2 .card2 .main2 .title {
      background: #009688; }
  .wrapper .wrapper2 .card3 {
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start; }
    .wrapper .wrapper2 .card3 .main1,
    .wrapper .wrapper2 .card3 .main2 {
      width: 49%; }
    .wrapper .wrapper2 .card3 .box {
      background: transparent; }
      .wrapper .wrapper2 .card3 .box .title {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 100px;
        background: #3e50b4;
        color: #fff;
        font-weight: light;
        padding: 20px 30px 5px 10px;
        margin-bottom: 1px; }
      .wrapper .wrapper2 .card3 .box .date {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding: 10px;
        background: #3e50b4;
        color: #fff;
        font-size: 13px;
        margin-bottom: 5px; }
    .wrapper .wrapper2 .card3 .cleaner {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 10px;
      background: #455a64;
      color: #fff;
      font-size: 21px;
      font-weight: lighter; }
    .wrapper .wrapper2 .card3 .main2 .box1 {
      width: 100%;
      padding: 10px 5px;
      background: #35464d;
      color: #fff;
      margin-bottom: 1px; }
      .wrapper .wrapper2 .card3 .main2 .box1 .name {
        font-size: 14px;
        margin-bottom: 15px; }
      .wrapper .wrapper2 .card3 .main2 .box1 .check-div {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px; }
        .wrapper .wrapper2 .card3 .main2 .box1 .check-div .check-text {
          margin-left: 10px;
          font-size: 14px; }
        .wrapper .wrapper2 .card3 .main2 .box1 .check-div .checker {
          display: none; }
        .wrapper .wrapper2 .card3 .main2 .box1 .check-div .checkbox {
          width: 15px;
          height: 15px;
          border: 1px #bfbfbf solid;
          border-radius: 2px;
          box-sizing: border-box;
          cursor: pointer;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent; }
        .wrapper .wrapper2 .card3 .main2 .box1 .check-div .checker:disabled + .checkbox .check-mark {
          display: none; }
        .wrapper .wrapper2 .card3 .main2 .box1 .check-div .check-mark {
          width: 80%;
          height: 80%;
          border-radius: 10px;
          display: none; }
        .wrapper .wrapper2 .card3 .main2 .box1 .check-div .checker:checked + .checkbox .check-mark {
          display: flex; }
    .wrapper .wrapper2 .card3 .main2 .box2 {
      padding: 7.5px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background: #35464d;
      color: #fff;
      font-size: 13px;
      font-weight: lighter; }
      .wrapper .wrapper2 .card3 .main2 .box2 .location-logo {
        padding: 0; }

.hide {
  display: none !important; }

/*# sourceMappingURL=style.css.map */
