* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.box {
  position: relative;
  width: 29.7px;
  height: 30px;
  border: 1px solid #000;
  background: #00f;
}

.click {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 0.6;
  color: skyblue;
  text-shadow: 0 0 15px black;

  text-align: center;
  font-size: 25rem;

  user-select: none;
}
